.wrapper {
  height: 100%;
  width: 100%;
  .chat-side {
    height: 100%;
    width: 300px;
    float: left;
    .side-header {
      height: 100px;
      width: 300px;
      background: #253141;
      display: flex;
      justify-content: center;
      align-items: center;
      .side-header_box {
        height: 20px;
        width: 260px;
        display: flex;
        justify-content: space-between;
        p {
          font-size: 16px;
          color: #ffffff;
          display: flex;
        }
        ul {
          display: flex;
          justify-content: flex-end;
          li {
            padding-left: 5px;
            a {
              color: #ffffff;
            }
          }
        }
      }
    }
    .groups {
      height: calc(100vh - 100px);
      width: 300px;
      background: #2f3e51;
      padding: 20px;
      box-sizing: border-box;
      .group__name {
        margin-bottom: 5px;
        font-size: 15px;
        color: #ffffff
      }
      .group__message {
        margin-bottom: 40px;
        font-size: 11px;
        color: #ffffff
      }
    }
  }

  .chat-main {
    height: 100%;
    width: calc(100vw - 300px);
    float: right;
    .main-header {
      height: 100px;
      width: calc(100vw - 300px);
      background: #ffffff;
      padding: 0 40px 0;
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      .main-header__left-box {
        .main-header__left-box__current-group {
          color: #333333;
          font-size: 20px;
          padding-top: 35px;
          font: bold;
        }
        .main-header__left-box__member-list {
          color: #999999;
          font-size: 12px;
          padding-top: 15px;
        }
      } 
      .main-header__edit-btn {
        margin-top: 28px;
        height: 40px;
        width: 72px;
        border: solid 1px #38aef0;
        padding: 8px 20px;
        a {
          font-size: 16px;
          color: #38aef0;
          text-decoration: none;
        }
      }
    }
    .messages {
      height: calc(100vh - 190px);
      width: calc(100vw - 300px);
      background: #fafafa;
      overflow: scroll;
      .upper-message {
        padding: 35px 40px 12px;
        .upper-message__user-name {
          color: #333333;
          font-size: 16px;
          font: bold;
          padding-right: 8px;
          float: left;
        }
        .upper-message__date {
          color: #999999;
          font-size: 12px;
        }
      }
      .lower-message {
        color: #434a54;
        font-size: 14px;
        padding:0 40px 11px;
      }
    }
    .form {
      height: 90px;
      width: calc(100vw - 300px);
      background: #d2d2d2;
      padding: 20px 40px;
      display: flex;
      .new_message {
        width: 100%;
        display: flex;
        position: relative;
        .form__message {
          height: 50px;
          width: 100%;
          color: #434a54;
          border-style: none;
          padding: 0 40px 0 10px;
        }
        .form__mask {
          position: absolute;
          top: 10px;
          right: 125px;
          cursor: pointer;
          font-size: 1.3rem;
          #message_image {
            display: none;
          }
        }
      }
      .form__submit {
        height: 50px;
        width: 100px;
        padding: 0 30px;
        margin-left: 15px;
        background: #38aef0;
        color: white;
        cursor: pointer;
      }
    }
  }
}

@import "reset";
@import "config/colors";
@import "modules/messages";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "modules/user";
@import "modules/flash";
@import "modules/group";